#home {
  height: 800px;
  background-image: url('./assets/home-bg.jpg');
  background-size:cover;

} 

body {
  background-color: black;
}

.card {
  margin-top: 15px;
}

#about p {
  font-family: Yatra One;
 
}

a:focus {
  color:orangered ;
 
}

h2 {
  font-family: Kalam;
}


#about {
margin-top: 25px;
height: auto;

}

 .abt {
 width: auto;
  word-break: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;

}

.cont {
 display: flex;
 justify-content: center;
   text-align: center;
   margin: auto;
   height: auto;
   border: 2px solid;
   border-radius: 5px;
   top: 10px;
  
}

.tech {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction:row;
  margin: auto;
  flex-wrap: wrap;
 
  align-content: space-around;
}




.div2 {
  word-wrap: break-word;
}

#project {
 font-family: "Acme";
  height:auto;
  width: auto;
 
}



.project-div {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  height: auto;
  width: auto;
  justify-content:space-evenly;
}

#contact {

  height:auto;
  width: auto;
  background-image: url('./assets/footer-bg.jpg');
  background-size: cover;
}
.prj-abt {
  height: 252px;
}

 h2 {
  font-family: Honk;
}





html {
  scroll-padding-top: 4rem;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  width: auto;
  text-align: center;
  padding: 100px 0;

  
  height: 300px;
}

